In [1]:
import pandas as pd

In [15]:
file = '../Tissue-Specific Cit IDs.xlsx'
xl = pd.ExcelFile(file)
df = pd.DataFrame()
for sheet in xl.sheet_names:
    sub = pd.read_excel(file, sheet_name=sheet, usecols=[0])
    sub.columns=[sheet]
    df = pd.concat([df, sub.dropna()], axis=1)
df

,All IDs,Bcortex,Cerebellum,Hypothalamus,Medulla,Scortex,Liver,Heart,Lung,Kidney,Pancreas,Spleen
0,P62259,P62259,P62259,P62259,P62259,P62259,Q9CQ62,Q9CQ62,P62259,Q921H8,P62281,P63260
1,P68254,P68254,P68254,P68254,P68254,P68254,Q921H8,Q8BWT1,P63260,P63260,P63323,Q7TPR4
2,Q9CQ62,P63260,Q60597,P61922,Q9CQ62,P61922,Q8BWT1,Q99KI0,O54931,Q9WUR9,P62852,P58252
3,Q9CQX8,P48962,P61922,P20029,P63260,P63260,P63323,P62737,O35945,Q03265,Q6ZWY3,Q923D2
4,Q60597,P45376,P20029,P63260,P48962,P48962,P62889,P63260,Q7TPR4,P56480,P99027,P05064
...,...,...,...,...,...,...,...,...,...,...,...,...
427,P50518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428,Q9WTT4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429,O88342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
430,Q8BJH1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
431,Q8K0C5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
prots = []
for i in range(1, len(df.columns)):
    print(len(df.iloc[:, i].dropna()))
    prots.extend(df.iloc[:, i].tolist())

174
158
178
151
169
81
91
69
79
113
62

In [31]:
len(set(prots))

433